<p id="notice"><%= notice %></p>
<h1>Visitors#show</h1>
<h1>Mostrando wallet</h1>

<p>
  <strong>Visitor IP:</strong>
  <%= @visitor.ip %>
</p>

<p>
  <strong>Address from Visitor:</strong>
  <%= @visitor.wallets.first.address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @wallet.address %>
</p>

<p>
  <strong>Private key:</strong>
  <%= @wallet.private_key %>
</p>