<h2>Bitcoin is as easy as 
  <a class="circle-button" href="#demo-section-1">1</a>
  <a class="circle-button" href="#demo-section-2">2</a>
  <a class="circle-button" href="#demo-section-3">3</a>
</h2>

<p>Sending and receiving bitcoins is as simple as sending an <strong>email</strong>, the first thing we need is an <strong>address</strong></p><br>

<div id="demo-section-1" class="row rounded-border relative-position info-block">
  <div class="small-1 columns text-center">
    <label class="fake-circle-button"> 1 </label>
  </div>
  <div class="small-2 columns text-center">
    <%= image_tag "vault.png", alt: "Vault image" %>
  </div>
  <div class="small-7 columns">
    <div class="row">
      <div class="small-10 columns text-left">
        <p>
          A Bitcoin <strong>address</strong> is the place where the bitcoins are actually stored<br>
          Like a transparent <strong>vault</strong>, the coins can only be moved by the <strong>key owner</strong> but the world can see what is inside<br>
          The address is a long sequence of letters and numbers that looks like this:
        </p>
      </div>
    </div>
    <div class="row text-center">
      <p>
        <strong class="title has-tooltip" title="You can generate and use as many addresses as desired at no cost">19s6nzcRuWWuXSikLNGmYsTdKkF8cBkFdJ</strong>&nbsp;&nbsp;&nbsp;
        <%= image_tag "QR_code.png", class: "has-tooltip", title: "This QR code represents the same address and can be easily read with a phone", width: 200, height: 200, alt: "QR code image" %><br><br>
      </p>
    </div>
    <div class="row">
      <div class="small-2 columns"></div>
      <div class="small-10 columns text-right">
        <p>
          The <strong>private key</strong> is the only key in the world that can transfer the bitcoins from the Bitcoin address<br>
          The private key is a long sequence of letters and numbers and it looks like this:
        </p>        
      </div>
    </div>
    <div class="row text-right">
      <p class="side-padding">
        <strong class="title has-tooltip" title="This key is unique for the address above">5J3p5psdFRh1XCBXsb8AbpaVTnwSjv5MMqt5ceAMMAHVeXhq8yi</strong>
      </p>
    </div>
  </div>
  <div class="small-2 columns text-center fix-bottom-position">
    <%= image_tag "key.png", alt: "Private Key image" %>
  </div>
</div>

<div id="demo-section-2" class="row rounded-border info-block">
  <div class="small-1 columns text-center">
    <label class="fake-circle-button"> 2 </label>
  </div>
  <div class="small-8 columns text-center">
    <p>
      <br>
      <strong>All transactions</strong> ever made in the Bitcoin economy are stored in a <strong class="title has-tooltip" title="A full and updated copy of all transactions is stored in the computer of most of the users of Bitcoin">public record</strong><br>
      This public record works as a ledger and it is called the <strong class="title has-external-tooltip" tooltip-id="blockchain-tooltip">Blockchain</strong><br>
    </p>
    <div id="blockchain-tooltip" class="hidden">
      <p>Do not confuse with <%= link_to('Blockchain.info', 'https://www.blockchain.info', target: "_blank") %> a useful website to see Bitcoin transactions happening in real time</p>
    </div>
  </div>
  <div class="small-3 columns text-center">
    <%= image_tag "ledger.png", class: 'rounded-corners', alt: "Ledger image" %>
  </div>
</div>

<div id="demo-section-3" class="row rounded-border info-block">
  <div class="small-1 columns text-center">
    <label class="fake-circle-button"> 3 </label>
  </div>
  <div class="small-3 columns text-center">
    <%= image_tag "wallet.png", alt: "Wallet image" %>
  </div>
  <div class="small-8 columns text-center">
    <p>
      The <strong>wallet</strong> is the manager of all your addresses and private keys<br>
      It is the software that lets you easily <strong>send and receive bitcoins</strong> or create new addresses
    </p>
    <p>
      There are three types of <strong>wallet applications</strong>
    </p>
    <div class="row">
      <div class="small-4 columns text-center">
        <span class="title has-external-tooltip" tooltip-id="phone-tooltip">
          <%= image_tag "phone.png", alt: "Phone image" %>
          <p><br><strong class="title">Mobile</strong></p>
        </span>
        <div id="phone-tooltip" class="hidden text-center">
          <p>
            This is convenient for day to day usage on the move<br>
            A couple of good Android wallets <%= link_to('Mycelium', 'https://play.google.com/store/apps/details?id=com.mycelium.wallet', target: "_blank") %> and 
            <%= link_to('Blockchain.info', 'https://blockchain.info/wallet/android-app', target: "_blank") %>
          </p>
        </div>
      </div>
      <div class="small-4 columns text-center">
        <span class="title has-external-tooltip" tooltip-id="desktop-tooltip">
          <%= image_tag "desktop.png", alt: "Desktop PC image" %>
          <p><strong class="title">Desktop App</strong></p>
        </span>
        <div id="desktop-tooltip" class="hidden text-center">
          <p>
            These wallets usually provide more security and more options<br>
            A couple of good wallets <%= link_to('Electrum', 'https://electrum.org/', target: "_blank") %> and 
            <%= link_to('MultiBit', 'https://multibit.org/', target: "_blank") %>
          </p>
        </div>
      </div>
      <div class="small-4 columns text-center">
        <span class="title has-external-tooltip" tooltip-id="browser-tooltip">
          <%= image_tag "browser.png", alt: "Web browser image" %>
          <p><strong class="title">Web wallet</strong></p>
        </span>
        <div id="browser-tooltip" class="hidden text-center">
          <p>
            These wallets combine easy of use with plenty of features<br>
            A good example where <strong>you</strong> completely manage your bitcoins is <%= link_to('Blockchain.info', 'https://blockchain.info/wallet', target: "_blank") %><br>
            Another where the company secures and stores the bitcoins for you is <%= link_to('Coinbase', 'https://coinbase.com/?r=52ac992c01478f0e730000b9&utm_campaign=user-referral&src=referral-link', target: "_blank") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<form name="input_test" action="visitors/show" method="get">
  <fieldset>
    <p class="label round radius success">You are almost there...</p>
    <br>
    <% ayah = AYAH::Integration.new(ENV['AREYOUAHUMAN_PUBLISHER_KEY'], ENV['AREYOUAHUMAN_SCORING_KEY']) %>
    <%= raw( ayah.get_publisher_html ) %>
    <button type="submit" class="radius round large">Get your first bitcoins <i class="fi-bitcoin-circle bitcoin-button"></i></button>
    <!-- <button type="submit" class="btn btn-primary">Get Bitcoins</button> -->
  </fieldset>
</form>