<% unless is_mobile_device? %>
  <%= audio_tag "demo-confirmation.wav", id: "confirmation-sound", autoplay: false, controls: false, autobuffer: true %>
<% end %>

<h2><span class="super-small-inline-title"><%=t :bitcoin_easy%></span> 
  <%= link_to(1, '#demo-section-1', class: "circle-button will-animate", id: "circle-button-1") %>
  <%= link_to(2, '#demo-section-2', class: "circle-button will-animate", id: "circle-button-2") %>
  <%= link_to(3, '#demo-section-3', class: "circle-button will-animate", id: "circle-button-3") %>
</h2>

<p><%=t :sending_receiving_html%></p><br>

<div id="demo-section-1" class="rounded-border relative-position info-block">
  <div class="row">
    <h5><strong class="extruded-info-title bitcoin-address-title"><%= single_capitalize(t(:bitcoin_address))%></strong></h5><br class="show-for-small-only">
  </div>
  <div class="row show-for-small-only">
    <%= image_tag "vault.png", alt: "Vault image" %>
  </div>
  <div class="row sub-info-block">
    <div class="hide-for-small medium-1 columns text-center">
      <label class="fake-circle-button"> 1 </label>
    </div>
    
    <div class="hide-for-small medium-2 columns text-center">
      <%= image_tag 'vault.png', alt: 'Vault image', id: 'vault-image' %>
    </div>
    
    <div class="small-12 medium-7 columns">
      <div class="row">
        <div class="small-12 medium-10 columns text-left">
          <p>
            <%=t :bitcoin_address_html%> 
            <strong class="title-medium-up has-tooltip hide-tooltip-small" title="<%=t :anonymous_email_html%>"><%=t :inside%></strong><br><br class="show-for-small-only">
            <%=t :bitcoin_address_looks%>:
          </p>
        </div>
      </div>
      <div class="row text-center">
        <p>
          <strong class="bitcoin-address title has-tooltip hide-tooltip-small" title="<%=t :bitcoin_address_tooltip_html%>">
            19s6nzcRuWWuXSikLNGmYsTdKkF8cBkFdJ</strong>&nbsp;&nbsp;&nbsp;
          <%= image_tag "QR_code.png", class: "has-tooltip hide-tooltip-small", title: t(:bitcoin_address_qr_tooltip), width: 200, height: 200, alt: t(:address_qr) %><br><br>
          <span class="show-for-small-only"><%=t :bitcoin_address_qr_tooltip%></span>
        </p>
      </div>
      <div class="row show-for-small-only">
        <%= image_tag "key.png", alt: t(:private_key_image) %>
      </div>
      <div class="row">
        <div class="hide-for-small medium-2 columns"></div>
        <div class="small-12 medium-10 columns text-right">
          <p>
            <%=t :bitcoin_private_key_html%><br><br class="show-for-small-only">
            <%=t :bitcoin_private_key_2%>
          </p>        
        </div>
      </div>
    </div>
    <div class="hide-for-small medium-2 columns text-center fix-bottom-position">
      <%= image_tag "key.png", alt: t(:private_key_image), id: 'key-image', class: 'will-animate' %>
    </div>
  </div>
</div>

<div id="demo-section-2" class="rounded-border info-block">
  <div class="row">
    <h5><strong class="extruded-info-title bitcoin-wallet-title"><%=single_capitalize(t(:bitcoin_wallet))%></strong></h5><br class="show-for-small-only">
  </div>
  <div class="row show-for-small-only">
    <%= image_tag "wallet.png", alt: t(:wallet_image) %>
  </div>
  <div class="row sub-info-block">
    <div class="hide-for-small medium-1 columns text-center">
      <label class="fake-circle-button"> 2 </label>
    </div>
    <div class="hide-for-small medium-3 columns text-center">
      <%= image_tag "wallet.png", alt: t(:wallet_image) %>
    </div>
    
    <div class="small-12 medium-8 columns text-center">
      <p>
        <%=t :bitcoin_wallet_html%><br>
        <%=t :bitcoin_wallet_2_html%>
      </p>
      <p>
        <%=t :wallet_types_html%>
      </p>
      <div class="row">
        <div class="medium-4 columns text-center">
          <div class="wallet-info wallet-mobile has-external-tooltip" tooltip-id="phone-tooltip">
            <%= image_tag "phone.png", alt: t(:phone_image) %>
            <p><br><strong class="title"><%=t :mobile_app%></strong></p>
          </div>        
          <div id="phone-tooltip" class="hidden text-center tooltip-text">
            <p>
              <%=t :mobile_wallet_html%>:<br><%= link_to('Mycelium', 'https://play.google.com/store/apps/details?id=com.mycelium.wallet', target: "_blank") %> <%=t :and%> 
              <%= link_to('Blockchain.info', 'https://blockchain.info/wallet/android-app', target: "_blank") %>
            </p>
          </div>
        </div>
        <div class="medium-4 columns text-center">
          <div class="wallet-info wallet-desktop has-external-tooltip" tooltip-id="desktop-tooltip">
            <%= image_tag "desktop.png", alt: t(:pc_image) %>
            <p><strong class="title"><%=t :desktop_app%></strong></p>
          </div>
          <div id="desktop-tooltip" class="hidden text-center tooltip-text">
            <p>
              <%=t :desktop_wallet_html%>:<br><%= link_to('Electrum', 'https://electrum.org/', target: "_blank") %> <%=t :and%> 
              <%= link_to('MultiBit', 'https://multibit.org/', target: "_blank") %>
            </p>
          </div>
        </div>
        <div class="medium-4 columns text-center">
          <div class="wallet-info wallet-web has-external-tooltip" tooltip-id="browser-tooltip">
            <%= image_tag "browser.png", alt: t(:browser_image) %>
            <p><strong class="title"><%=t :browser_app%></strong></p>
          </div>
          <div id="browser-tooltip" class="hidden text-center tooltip-text">
            <p>
              <%=t :browser_wallet_html%>: <%= link_to('Blockchain.info', 'https://blockchain.info/wallet', target: "_blank") %><br>
              <%=t :and%> <%= link_to('GreenAddress.it', 'https://greenaddress.it', target: "_blank") %> <br>
              <%=t :browser_wallet_2%>: <%= link_to('Coinbase', 'https://coinbase.com/?r=52ac992c01478f0e730000b9&utm_campaign=user-referral&src=referral-link', target: "_blank") %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="demo-section-3" class="rounded-border info-block">
  <div class="row">
    <h5><strong class="extruded-info-title some-bitcoins-title"><%=t(:some_bitcoins).capitalize%></strong></h5><br class="show-for-small-only">
  </div>
  <div class="row show-for-small-only">
    <%= image_tag "Bitcoin_euro.png", class: 'rounded-corners', alt: t(:coin_image) %>
  </div>
  <div class="row sub-info-block">
    <div class="hide-for-small medium-1 columns text-center">
      <label class="fake-circle-button"> 3 </label>
    </div>
    <div class="small-12 medium-8 columns text-center">
      <p><br>
        <%=t :fill_wallet_html%> 
        <strong class="title-medium-up has-tooltip hide-tooltip-small" title="<%=t :demo_tooltip%>"><%=t :demo%></strong>
      </p>
    </div>
    <div class="hide-for-small medium-3 columns text-center">
      <%= image_tag "Bitcoin_euro.png", class: 'rounded-corners', alt: t(:coin_image) %>
    </div>
  </div>
</div>

<div id="transaction-demo" class="separated-row"></div>

<div id="demo-section-blockchain" class="rounded-border info-block hidden">
  <div class="row">
    <h5><strong class="title"><%=t :blockchain%></strong></h5><br class="show-for-small-only">
  </div>
  <div class="row show-for-small-only">
    <%= image_tag "ledger.png", class: 'rounded-corners', alt: t(:leger_image) %>
  </div>
  <div class="row sub-info-block">
    <div class="hide-for-small medium-1 columns text-center">
      <label class="blockchain-button-label"> <%=t :extra%> </label>
    </div>
    <div class="small-12 medium-8 columns text-center">
      <p>
        <br>
        <strong class="title-medium-up has-tooltip hide-tooltip-small" title="<%=t :all_transactions_tooltip%>"><%=t :all_transactions%></strong> 
        <%=t :blockchain_1%> 
        <strong class="title-medium-up has-tooltip hide-tooltip-small" title="<%=t :public_record_tooltip%>"><%=t :public_record%></strong><br>
        <%=t :blockchain_2%> <strong class="title has-external-tooltip hide-tooltip-small" tooltip-id="blockchain-tooltip"><%=t :blockchain%></strong><br>
        <%=t :blockchain_3%> 
        <strong class="title-medium-up has-tooltip hide-tooltip-small" title="<%=t :p2p_tooltip%>"><%=t :p2p%></strong> 
        <%=t :blockchain_4%>
      </p>
      <div id="blockchain-tooltip" class="hidden tooltip-text">
        <p><%=t :blockchain_confuse%> <%= link_to('Blockchain.info', 'https://www.blockchain.info', target: "_blank") %> <%=t :blockchain_confuse_2%></p>
      </div>
    </div>
    <div class="hide-for-small medium-3 columns text-center">
      <%= image_tag "ledger.png", class: 'rounded-corners', alt: t(:leger_image) %>
    </div>
  </div>
</div>

<br>

<fieldset class="hidden" id="get-bitcoins-section">
  <p class="label round radius success"><%=t :almost_there%>...</p><br><br>
  <a data-reveal-id="WIP-modal" class="fix-link-background">
    <button type="submit" class="radius round large"><%=t :get_bitcoins%> <i class="fi-bitcoin-circle bitcoin-button"></i></button>
  </a>
</fieldset>
<!-- Disabled as Work In Progress
<form name="input_test" action="visitors/show" method="get" class="hidden" id="get-bitcoins-section">
  <fieldset>
    <p class="label round radius success">You are almost there...</p><br><br>
    <%# ayah = AYAH::Integration.new(ENV['AREYOUAHUMAN_PUBLISHER_KEY'], ENV['AREYOUAHUMAN_SCORING_KEY']) %>
    <%#= raw( ayah.get_publisher_html ) %>
    <button type="submit" class="radius round large"><%=t :get_bitcoins%> <i class="fi-bitcoin-circle bitcoin-button"></i></button>
  </fieldset>
</form>
-->