<div class="section sMyths hidden" id="myths">
  <h1><%=t :myths%></h1>
  <div class="rounded-border info-block">
    <h4><%=t :myths_1%></h4>
    <p><%=t :myths_2_html%></p>
    <h4><%=t :myths_3%></h4>
    <p><%=t :myths_4_html%> 
      <strong class="title has-tooltip" title="<%=t :myths_4_tooltip%>"><%=t :bitcoin_address%></strong></p>
    <h4><%=t :myths_5%></h4>
    <p><%=t :myths_6_html%></p>
    <h4><%=t :myths_7%></h4>
    <p><%=t :myths_8_1%> <strong class="title has-tooltip" title="<%=t :valid_transactions_tooltip%>"><%=t :valid_transactions%></strong> <%=t :myths_8_2%>.<br>
      This process is called <a data-reveal-id="mining-info-modal" class="fix-link-background">Bitcoin mining</a> and takes care of the accounting of the economy.</p>
  </div>
</div>

<div id="mining-info-modal" class="reveal-modal text-center hidden" data-reveal>
  <div id="mining-content">
    <h2>Bitcoin Mining</h2>
  </div>
  <div id="mining-lottery-link">
    <p>To understand how a miner gets a reward you can learn how the <a data-reveal-id="mining-POW-modal" class="fix-link-background"><strong>lottery</strong> reward works with Proof of Work</a></p>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mining-POW-modal" class="reveal-modal text-center hidden" data-reveal> 
  <div id="mining-POW-content">
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>