<div class="section-large sMyths hidden" id="myths">
  <h1><%=t :myths%></h1>
  <div class="rounded-border info-block">
    <h4 class='myth-1 medium-extruded-info-title'><%=t :myths_1%></h4>
    <p><%=t :myths_2_html%></p>
    <h4 class='myth-2 medium-extruded-info-title'><%=t :myths_3%></h4>
    <p><%=t :myths_4_html%> 
      <strong class="title has-tooltip" title="<%=t :myths_4_tooltip%>"><%=t :bitcoin_address%></strong></p>
    <h4 class='myth-3 medium-extruded-info-title'><%=t :myths_5%></h4>
    <p><%=t :myths_6_html%></p>
    <h4 class='myth-4 medium-extruded-info-title'><%=t :myths_7%></h4>
    <p><%=t :myths_8_1%> <strong class="title has-tooltip" title="<%=t :valid_transactions_tooltip%>"><%=t :valid_transactions%></strong> <%=t :myths_8_2%>.<br>
      <%=t :myths_9_1%> <a data-reveal-id="mining-info-modal" class="fix-link-background"><%=t :bitcoin_mining%></a> <%=t :myths_9_2%>.</p>
  </div>
</div>

<div id="mining-info-modal" class="reveal-modal text-center hidden" data-reveal>
  <div id="mining-content">
    <h2><%=t :bitcoin_mining%></h2>
  </div>
  <div id="mining-lottery-link">
    <p><%=t :mining_lottery_1%> <a data-reveal-id="mining-POW-modal" class="fix-link-background"><strong><%=t :lottery_rewards%></strong> <%=t :mining_lottery_2%> <%=t :proof_of_work%> <%=t :proof_of_work_extra%></a></p>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mining-POW-modal" class="reveal-modal text-center hidden" data-reveal> 
  <div id="mining-POW-content">
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>