<div class="section sStart" id="start" ng-controller="DemoCtrl">
  <button class="radius round large super-button" id="show-demo" ng-click="showDemo()"><%=t :discover%> <i class="fi-bitcoin bitcoin-button"></i></button>
</div>

<!-- Hidden or moving elements -->

<div class="empty-content hidden" id="demo-content">
  <div> <%= image_tag "loading.gif", alt: t(:counting_stars) %> </div>
</div>

<div id="transaction-demo-placeholder" class="hidden">
  <div id="transference-demo" class="rounded-border relative-position info-block super-small-padding" ng-controller="TransactionCtrl">
    <br><h2 id='demo-form-title' class='extruded-demo-title small-demo-title'><%=t :demo1%></h2><br>
    
    <div class="row rounded-border separated-row">
      
      <div class="large-6 columns text-center right-border super-small-padding" id="demo-shopping-cart">
        <br>
        <div class="hidden" id="demo-shopping-cart-info">
          <p><%=t :imagine_shop_html%></p>
        </div>
        <div class="info-block hidden" id="demo-shopping-cart-content">
          <%= image_tag "basket.png", width: '84', alt: 'basket', id: 'minibasket-image', class: 'will-animate' %>
          <fieldset>
            <legend class="show-for-medium-up"><%=t :shop_legend%></legend>
            <div>
              <div class="row separated-row shop-table-title">
                <div class="small-5 medium-4 columns text-center">
                  <%=t :item%>
                </div>
                <div class="hide-for-small medium-2 columns text-center">
                  <%=t :units%>
                </div>
                <div class="small-3 columns text-center">
                  <%=t :price%>
                </div>
                <div class="small-4 medium-3 columns"></div>
              </div>
              <div class="row separated-row shop-table-text">
                <div class="small-5 medium-4 columns text-center">
                  <br><%=t :bear_description%>
                </div>
                <div class="hide-for-small medium-2 columns text-center">
                  <br>x1
                </div>
                <div class="small-3 columns text-center shop-price">
                  <br><strong class="title">0.1 bitcoins</strong> (<%=t :or%> $10)
                </div>
                <div class="small-4 medium-3 large-3 columns">
                  <%= image_tag "teddy_bear.png", alt: t(:item_image) %>
                </div>
              </div>
            </div>
            <div id="demo-transaction-details">
              <div class="row separated-row">
                <div class="small-6 columns text-right">
                  <%= image_tag "BC_accepted_here.png", width: '75%', alt: t(:logo_bitcoin) %>
                </div>
                <div class="small-6 columns text-left">
                  <br><%=t :pay_address%>
                </div>
              </div>
              <div class="row separated-row">
                <div class="small-12 columns">
                  <%= image_tag "QR-shop.png", width: '50%', alt: t(:shop_qr), class: "has-tooltip", title: t(:shop_qr_tooltip) %>
                </div>
              </div>
              <div class="hide-for-small row separated-row collapse">
                <div class="small-2 columns">
                  <span class="prefix radius button alert address-info-block-shop highlighted-box has-tooltip" ng-click="copyAddress()"
                        id="copy-demo-button" title="<%=t :copy_tooltip%>"><i class="fi-page-copy"></i> <%=t :copy%> </span>
                </div>
                <div class="small-10 columns">
                  <span id="demo-pay-to-address" class="postfix radius button disabled">1JL27iKbmVBNBnwuST7aqyuE94ShS4CFE1</span>
                </div>
              </div>
              <div class="show-for-small-only row separated-row collapse super-small-overflow">
                <span id="demo-pay-to-address" class="radius button disabled super-small-padding">1JL27iKbmVBNBnwuST7aqyuE94ShS4CFE1</span>
              </div>
              <span class="hidden" id="open_private_key">5KVwAmmjHaxZ8hDGBybaoCwhdicK26gFFsDYm8RZYSfmdJrsB8i</span>
            </div>
          </fieldset>
        </div>
      </div>
      
      <div class="large-6 columns text-center super-small-padding" id="demo-wallet-send">
        <br>
        <div class="hidden" id="demo-wallet-send-info">
          <p>
            <%=t :imagine_wallet_html%>
          </p>
          <p class="hide-for-small">
            <%=t :imagine_wallet_instructions_html%>
          </p>
        </div>
        <div class="info-block hidden" id="demo-wallet-send-content">
          <%= image_tag "wallet.png", width: '84', alt: 'wallet', id: 'miniwallet-image', class: 'will-animate' %>
          <form id="demo-transaction-form" data-parsley-validate> 
            <fieldset>
              <legend class="show-for-medium-up"><%=single_capitalize(t(:demo_wallet_legend))%></legend>
              <div class="row separated-row show-for-medium-up"> 
                <div class="small-12 columns">
                  <span><%=t :demo_send_address%></span>
                  <div class="address-info-block has-tooltip" title="<%=t :multiple_addresses%>">
                    <input type="radio" name="address" id="walletAddress"
                           value="19s6nzcRuWWuXSikLNGmYsTdKkF8cBkFdJ" checked><label class="no-cursor" for="walletAddress">19s6nzcRuWWuXSikLNGmYsTdKkF8cBkFdJ</label>
                  </div>
                </div>
              </div>
              <p class="no-margin"><%=t :you_have%></p>
              <div class="row">
                <div class="small-12 columns text-center has-tooltip" title="<%=t :demo_input_amount_tooltip_html%>">
                  <label id="demo-remaining-bitcoins" class="inline no-cursor no-margin no-padding-bottom">
                    <p class="no-margin">{{remainingBitcoinsFormattedText()}}</p></label>
                </div>
              </div>
              <p class="show-for-small-only"><%=t :in%> <%=t :demo_wallet_legend%></p>
              <br>
              <div class="row collapse no-margin"> 
                <div class="small-3 small-3 columns">
                  <label for="amount" class="right inline small-right-padding"><p class="no-margin"><%=t(:amount).capitalize%>: </p></label>
                </div>
                <div class="small-5 medium-2 columns" id="amount">
                  <input type="text" class="highlighted-box text-center animated-one-sec" ng-click="disableAmountGlowing()" ng-model="input_amount" 
                         data-parsley-type="number" data-parsley-trigger="change" id="demo-input-amount" required
                         data-parsley-min="0.1" data-parsley-min-message="<%=t :demo_input_amount_fail_help_html%>" 
                         data-parsley-max="0.1" data-parsley-max-message="<%=t :demo_input_amount_fail_help_html%>" placeholder="eg 0.1" />
                </div>
                <div class="small-4 medium-4 columns">
                  <span class="postfix radius"> bitcoins (BTC)</span>
                </div>
                <div class="hide-for-small medium-3 columns"></div>
              </div>
              <p><%=t :ready_to%></p>
              <div class="row collapse separated-row">
                <div class="small-2 columns">
                  <span class="prefix radius button disabled"><%=t :to_address%>:</span>
                </div>
                <div class="small-10 columns">
                  <input id="demo-pay-to-address-input" type="text" class="highlighted-box has-tooltip hide-tooltip-small animated-one-sec"
                         ng-click="disableAddressGlowing()" placeholder="eg 1JL27iKbmVBNBnwuST7aqyu..." data-parsley-equal="1JL27iKbmVBNBnwuST7aqyuE94ShS4CFE1"
                         data-parsley-range="[30, 40]" data-parsley-type="alphanum" data-parsley-trigger="change" required
                         title="<%=t :demo_input_address_tooltip_html%>"/>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <label id="demo-transaction-send-button" class="button radius round has-tooltip" ng-click="transactionDemo()"
                         title="<%=t :send_button_tooltip%>"><%=t :send%> &nbsp;&nbsp;<%= image_tag "send-inverted.png", width: '40%', class: 'rounded-corners' %></label>
                </div>
              </div>
            </fieldset>
          </form>
        </div>  
      </div>
      
    </div>
    <br>
    <div>
      <button class="radius round hidden" id="show-blockchain-section" ng-click="showBlockchainSection()">
        <%=t :how_transaction%> &nbsp;&nbsp;<i class="fi-magnifying-glass"></i>
      </button>
    </div>
    <br>
  </div>
</div>

<div id="ok-purchase" class="hidden">
  <div class="row separated-row">
    <div class="small-12 columns">
      <p><strong class="title"><%=t :payment_received%></strong></p>
    </div>
  </div>
  <%= image_tag "ok_purchase.png", width: '70%', alt: t(:purchase_ok_image) %>
</div>

<div id="help-demo-modal" class="reveal-modal text-center hidden" data-reveal> 
  <h4><%=t :demo_fail_help%></h4><br>
  <h3><%=t :demo_fail_help_1%></h3><br>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="congratulations-demo-modal" class="reveal-modal text-center hidden" data-reveal ng-controller="TransactionCtrl"> 
  <h2><%=t :congratulations%></h2><br>
  <h4><%=t :congrats_1%></h4><br>
  <p><%=t :congrats_2%>. <a ng-click="discardDemoModal()"><%=t :see_below%></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="WIP-modal" class="reveal-modal text-center hidden" data-reveal> 
  <h2><%=t :in_construction%></h2>
  <h4><%=t :apologies%></h4>
  <p><%=t :come_back%></p>
  <p><%=t :meanwhile%> <strong class="title"><%= link_to(t(:first_wallet), 'https://greenaddress.it/wallet/#/create/', target: "_blank") %></strong><br>
    <%=t :or_install%> <strong class="title has-external-tooltip" tooltip-id="desktop-tooltip"><%=t :suggested_above%></strong> 
    <%=t :and_get_bitcoins%>:</p>
  <div id="bitcoin-sellers"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>