<div class="section sUse hidden" id="use">
  <h1 id="fourth"><%=t :use%></h1>
  <div class="rounded-border info-block">
    <p>
      <%=t :use_1%> <strong class="title has-external-tooltip" tooltip-id="shops-tooltip"><%=t :use_2%></strong>
    </p>
    <div id="shops-tooltip" class="hidden tooltip-text">
      <p><%= t :From%> <%= link_to(t(:flights), 'https://www.cheapair.com', target: "_blank") %> <%=t :and%> <%= link_to(t(:hotels), 'http://www.destinia.com', target: "_blank") %>
          <%=t :to%> <%= link_to(t(:furniture), 'https://www.overstock.com', target: "_blank") %> <%=t :or%>
          <%= link_to(t(:food), 'http://www.takeaway.com', target: "_blank") %>
      </p>
    </div>
    <p><%=t :sending_money%> 
      <strong class="title has-tooltip" title="<%=t :sending_money_tooltip%>"><%=t :person_to_person%></strong> <%=t :sending_money_2%>
    </p>
    <p><%=t :donating_to%> <strong class="title has-external-tooltip" tooltip-id="non-profit-tooltip"><%=t :non_profit%></strong> <%=t :donating_to_1%> 
      <strong class="title has-tooltip" title="<%=t :donating_to_tooltip_html%>"><%=t :donating_to_2%></strong>
    </p>
    <div id="non-profit-tooltip" class="hidden tooltip-text">
      <p><%= link_to("Sean's Outpost", 'http://seansoutpost.com/', target: "_blank") %> <%=t :sean_outpost%> 
        <%= link_to('BitGive Foundation', 'http://bitgivefoundation.org', target: "_blank") %> <%=t :bitgive_foundation%></p>
    </div>
    <p>
      <%=t :democratization%> <strong class="title has-tooltip" title="<%=t :democratization_tooltip_html%>"><%=t :democratization_1%></strong>, <%=t :democratization_2%>
    </p>
    <p><%=t :small_payments%>
      <strong class="title has-external-tooltip" tooltip-id="small-content-payments-tooltip"><%=t :content_payments%></strong> <%=t :on_internet%>
    </p>
    <div id="small-content-payments-tooltip" class="hidden tooltip-text">
      <p><%=t :content_payments_tooltip%> <%= link_to("Humble Bundle", 'https://www.humblebundle.com/', target: "_blank") %> <%=t :content_payments_tooltip_1%></p>
    </div>‎
  </div>
</div>