<div class="section sUse hidden" id="use">
  <h1 id="fourth">What can I do with Bitcoin?</h1>
  <div class="rounded-border info-block">
    <p>Today it's possible to pay with bitcoins in hundreds of <strong class="title has-external-tooltip" tooltip-id="shops-tooltip">shops around the world</strong></p>
    <div id="shops-tooltip" class="hidden tooltip-text">
      <p>From <%= link_to('flights', 'https://www.cheapair.com', target: "_blank") %> to <%= link_to('furniture', 'https://www.overstock.com', target: "_blank") %> or
      <%= link_to('food', 'http://www.takeaway.com', target: "_blank") %></p>
    </div>
    <p>Sending money internationally and remittances becomes a very cheap and fast 
      <strong class="title has-tooltip" title="You only need to have a Bitcoin wallet software to send and receive bitcoins, that's it">person to person</strong> transaction with Bitcoin</p>
    <p>Donating to <strong class="title has-external-tooltip" tooltip-id="non-profit-tooltip">non-profit organizations</strong> becomes faster, direct and much cheaper, removing 
      <strong class="title has-tooltip" title="You are sure the money arrives <strong>directly</strong> to the hands of those who need it with no delays">all intermediary fees</strong></p>
    <div id="non-profit-tooltip" class="hidden tooltip-text">
      <p><%= link_to("Sean's Outpost", 'http://seansoutpost.com/', target: "_blank") %> has been feeding the needed for months only with Bitcoin and the 
        <%= link_to('BitGive Foundation', 'http://bitgivefoundation.org', target: "_blank") %> promotes health and environment improvement projects</p>
    </div>
    <p>Democratization of banking, Bitcoin allows everybody in the world with Internet to access financial services, regardless of their country or economic situation</p>
    <p>Small payments (smaller than $1) finally become possible. This opens the door to small donations or 
      <strong class="title has-external-tooltip" tooltip-id="small-content-payments-tooltip">payments for content</strong> on Internet</p>
    <div id="small-content-payments-tooltip" class="hidden tooltip-text">
      <p>You can pay any amount to help children charities in <%= link_to("Humble Bundle", 'https://www.humblebundle.com/', target: "_blank") %> and you receive games in exchange</p>
    </div>‎
  </div>
</div>