<div class="section sWhat" id="what" align="center">
  <div id="what-section-intro">
    <h1><%=t :what%></h1>
    <h3 class="header-info-block"><%=t :what1%> <strong class="title"><%=t :digital_money%></strong><br>
      <%=t :what2%><br>
      <strong class="title has-tooltip" title="<%=t :what_tip1_html%>"><%=t :very_fast%></strong><br>
      <%=t :what3%><br>
      <strong class="title has-tooltip" title="<%=t :what_tip2%>"><%=t :what4%></strong></h3>
  </div>
  <div id="youtube-video-container" class="flex-video video-container" align="center">
    <iframe id="youtube-video" width="640" height="360" src="https://www.youtube.com/embed/Gc2en3nHxA4?enablejsapi=1&rel=0&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="show-for-medium-up" id="footsteps" align="right">
    <%= image_tag "footsteps.png", id: "footsteps-image", width: "640", height: "360" %>
  </div>
  <br>
</div>
