<% content_for :title do %><%=t :ltub%><% end %>

<%= render 'welcome', layout: false %>

<%= render 'what', layout: false %>

<%= render 'start', layout: false %>

<%= render 'use', layout: false %>

<%= render 'myths', layout: false %>

<div class="text-center info-block" id="contact-info">
  <p><%=t :made%> <i class="fi-heart"></i> <%=t :by%> Sebas<br>
  love@learntousebitcoin.com<p>
</div>

<div id="breakpoints"> 
  <div class="breakpoint-small show-for-small-only" data-size="small"></div>
  <div class="breakpoint-medium show-for-medium-only" data-size="medium"></div>
  <div class="breakpoint-large show-for-large-up" data-size="large"></div>
</div>