<% content_for :title do %>Learn To Use Bitcoin (Home)<% end %>
<div class="navigation-menu visible-desktop" id="widthHeightOpacity" align="left">
  <%= image_tag "index-icon.png", id: "navigation-menu-icon", alt: "Menu" %>
  <div class="navigation-content hidden" >
    <ul class="navigation-content-list">
      <li>
        <a class="navigation-link" href="#welcome"><i class="fi-home icon-white"></i> Welcome</a>
      </li>
      <li>
        <a class="navigation-link" href="#what"><i class="fi-info icon-white"></i> What is Bitcoin?</a>
      </li>
      <li>
        <a class="navigation-link" href="#start"><i class="fi-play icon-white"></i> Start using Bitcoin</a>
      </li>
      <li>
        <a class="navigation-link" href="#use"><i class="fi-shopping-cart icon-white"></i> Use my Bitcoins</a>
      </li>
      <li>
        <a class="navigation-link" href="#myths"><i class="fi-shield icon-white"></i> Myths about Bitcoin</a>
      </li>
    </ul>
  </div>
</div>

<div class="section sWelcome" id="welcome">
  <div id="welcome-content">
    <div class="language lang-typo1" id="welcome_sp">Bienvenido</div>
    <div class="language lang-typo1" id="welcome_et">Tere tulemast</div>
    <div class="language lang-typo2" id="welcome_fr">Bienvenue</div>
    <div class="language lang-typo3" id="welcome_nl">Welkom</div>
    <div class="language lang-typo2" id="welcome_de">Willkommen</div>
    <div class="language lang-typo3" id="welcome_pt">Bem-vindo</div>
    <div class="language lang-typo2" id="welcome_it">Benvenuto</div>
    <h1 class="extruded background-position" id="welcome_en">Welcome</h1>
    <h2 class="extruded-subtitle background-position" >to the amazing revolution of money</h2>
    <%= image_tag "BC_Logotype.png", class: "background-position", alt: "Bitcoin" %>
    <br />
    <br />
    <div id='scroll-message'>
      <h3 class="background-position">SCROLL</h3>
      <%= image_tag "scroll.png", id: "scroll-arrow", class: "background-position" %>
    </div>
  </div>
</div>

<div class="section sWhat" id="what" align="center">
  <h1>What is Bitcoin?</h1>
  <div class="video-container" align="center">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Um63OQz3bjo?rel=0&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="visible-desktop" id="footsteps" align="right">
    <%= image_tag "footsteps.png", id: "footsteps-image", width: "174", height: "444" %>
  </div>
</div>

<div class="section sStart" id="start" ng-controller="DemoCtrl">
  <h1>Start using Bitcoin</h1>
  <p>Get your first Bitcoins here.<br>
    After redeem finishes show the "share your love" dialog</p>
  <button class="radius round" id="show-demo" ng-click="showDemo()">Start using Bitcoin <i class="fi-bitcoin bitcoin-button"></i></button>
</div>

<div class="section sUse" id="use">
  <h1 id="fourth">What can I do with Bitcoin?</h1>
  <p>Today it's possible to pay almost everything you can pay with old currencies with Bitcoin like: ...</p>
</div>

<div class="section sMyths" id="myths">
  <h1>Myths about Bitcoin</h1>
  <p>- Who is backing a decentralized currency?</p>
</div>

<div class="hidden" id="demo-content">
  <%= image_tag "loading.gif", alt: "Counting starts in the universe..." %>
</div>