<% content_for :title do %>Learn To Use Bitcoin<% end %>
<div class="navigation-menu hidden" id="widthHeightOpacity" align="left">
  <%= image_tag "index-icon.png", id: "navigation-menu-icon", alt: "Menu" %>
  <div class="navigation-content hidden" >
    <ul class="navigation-content-list">
      <li>
        <a class="navigation-link" href="#welcome"><i class="fi-home icon-white"></i> Welcome</a>
      </li>
      <li>
        <a class="navigation-link" href="#what"><i class="fi-info icon-white"></i> What is Bitcoin?</a>
      </li>
      <li>
        <a class="navigation-link" href="#start"><i class="fi-play icon-white"></i> Start using Bitcoin</a>
      </li>
      <li>
        <a class="navigation-link" href="#use"><i class="fi-shopping-cart icon-white"></i> Use my Bitcoins</a>
      </li>
      <li>
        <a class="navigation-link" href="#myths"><i class="fi-shield icon-white"></i> Myths about Bitcoin</a>
      </li>
    </ul>
  </div>
</div>

<div class="section sWelcome" id="welcome">
  <div id="welcome-content">
    <div id="welcom-languages" class="show-for-medium-up">
      <div class="language lang-typo1" id="welcome_sp">Bienvenido</div>
      <div class="language lang-typo1" id="welcome_et">Tere tulemast</div>
      <div class="language lang-typo2" id="welcome_fr">Bienvenue</div>
      <div class="language lang-typo3" id="welcome_nl">Welkom</div>
      <div class="language lang-typo2" id="welcome_de">Willkommen</div>
      <div class="language lang-typo3" id="welcome_pt">Bem-vindo</div>
      <div class="language lang-typo2" id="welcome_it">Benvenuto</div>
    </div>
    <h1 class="extruded background-position" id="welcome_en">Welcome</h1>
    <h2 class="extruded-subtitle background-position" >to the amazing revolution of money</h2>
    <br>
    <%= image_tag "BC_Logotype.png", class: "background-position", alt: "Bitcoin" %>
    <br>
    <br>
    <div id='scroll-message'>
      <h3 class="background-position">SCROLL</h3>
      <%= image_tag "scroll.png", id: "scroll-arrow", class: "background-position" %>
    </div>
  </div>
</div>

<div class="section sWhat" id="what" align="center">
  <h1>What is Bitcoin?</h1>
  <h3 class="header-info-block">Bitcoin is a new class of <strong class="title">digital money</strong><br>
    that allows you to send and receive payments from person to person<br>
    <strong class="title has-tooltip" title="send money to anywhere in the world,<br>the receiver can start using it after only 10 minutes">very fast</strong><br>
    without any intermediate agent (bank or corporation)<br>
    <strong class="title has-tooltip" title="5 cents of dollar to send 10,000 USD anywhere">at almost zero cost</strong></h3>
  <div class="flex-video video-container" align="center">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Um63OQz3bjo?rel=0&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="show-for-medium-up" id="footsteps" align="right">
    <%= image_tag "footsteps.png", id: "footsteps-image", width: "174", height: "444" %>
  </div>
  <br>
</div>

<div class="section sStart" id="start" ng-controller="DemoCtrl">
  <button class="radius round large super-button" id="show-demo" ng-click="showDemo()">Start using Bitcoin <i class="fi-bitcoin bitcoin-button"></i></button>
</div>

<div class="section sUse hidden" id="use">
  <h1 id="fourth">What can I do with Bitcoin?</h1>
  <div class="rounded-border info-block">
    <p>Today it's possible to pay with bitcoins in hundreds of <strong class="title has-external-tooltip" tooltip-id="shops-tooltip">shops around the world</strong></p>
    <div id="shops-tooltip" class="hidden tooltip-text">
      <p>From <%= link_to('flights', 'https://www.cheapair.com', target: "_blank") %> to <%= link_to('furniture', 'https://www.overstock.com', target: "_blank") %> or
      <%= link_to('food', 'http://www.takeaway.com', target: "_blank") %></p>
    </div>
    <p>Sending money internationally and remittances becomes a very cheap and fast 
      <strong class="title has-tooltip" title="You only need to have a Bitcoin wallet software to send and receive bitcoins, that's it">person to person</strong> transaction with Bitcoin</p>
    <p>Donating to <strong class="title has-external-tooltip" tooltip-id="non-profit-tooltip">non-profit organizations</strong> becomes faster, direct and much cheaper, removing 
      <strong class="title has-tooltip" title="You are sure the money arrives <strong>directly</strong> to the hands of those who need it with no delays">all intermediary fees</strong></p>
    <div id="non-profit-tooltip" class="hidden tooltip-text">
      <p><%= link_to("Sean's Outpost", 'http://seansoutpost.com/', target: "_blank") %> has been feeding the needed for months only with Bitcoin and the 
        <%= link_to('BitGive Foundation', 'http://bitgivefoundation.org', target: "_blank") %> promotes health and environment improvement projects</p>
    </div>
    <p>Democratization of banking, Bitcoin allows everybody in the world with Internet to access financial services, regardless of their country or economic situation</p>
    <p>Small payments (smaller than $1) finally become possible. This opens the door to small donations or 
      <strong class="title has-external-tooltip" tooltip-id="small-content-payments-tooltip">payments for content</strong> on Internet</p>
    <div id="small-content-payments-tooltip" class="hidden tooltip-text">
      <p>You can pay any amount to help children charities in <%= link_to("Humble Bundle", 'https://www.humblebundle.com/', target: "_blank") %> and you receive games in exchange</p>
    </div>‎
  </div>
</div>

<div class="section sMyths hidden" id="myths">
  <h1>Myths about Bitcoin</h1>
  <div class="rounded-border info-block">
    <h4>Who is backing a decentralized currency?</h4>
    <p>There is no government, corporation or legal entity backing Bitcoin which may make difficult to understand how can the currency be trustworthy.<br>
      Bitcoin solves this by moving trust away from organizations and persons whose interests can be influenced to a unique trust in math.<br>
      Similar to the way gold provides trust through a series of unique physical attributes that are difficult to imitate correctly, 
      Bitcoin uses algorithms to prove that money belongs only to the owner of a private key and can only be spent once.</p>
    <h4>Anonymity</h4>
    <p>Bitcoin is not anonymous, it is pseudo-anonymous like cash.<br>
      Similar to cash where your name is not present in the bills that you use, in Bitcoin it is not possible to see your name in the bitcoins that you send or receive 
      but if you reveal your identity to the person or company that receives the bitcoins, it is possible to link your identity with your transaction
      and since all transactions are linked and publicly stored in the Blockchain, it is possible to partially track some of the previous transactions you made with the same Bitcoin address.</p>
    <h4>Can I copy or create more bitcoins?</h4>
    <p>Bitcoins are limited in quantity. It is often compared to gold in the way that the money is released into the world in a continuous and decreased rate, like mining.<br>
      There will never be more than 21 million bitcoins in existence and every four years the amount of bitcoins released is halved until the last bitcoin is released around year 2140.</p>
    <h4>How are the coins created?</h4>
    <p>Bitcoins are created as a reward for those who help verify valid transactions in the Bitcoin network.<br>
      This process is called <a data-reveal-id="mining-info-modal" class="fix-link-background">Bitcoin mining</a></p>
  </div>
</div>

<div class="text-center info-block" id="contact-info">
  <p>Made with <i class="fi-heart"></i> by Sebas<br>
  love@learntousebitcoin.com<p>
</div>





<!-- Hidden or moving elements -->

<div class="empty-content hidden" id="demo-content">
  <div> <%= image_tag "loading.gif", alt: "Counting starts in the universe..." %> </div>
</div>

<div id="transactionDemoPlaceholder" class="hidden">
  <div id="transference-demo" class="rounded-border relative-position info-block" ng-controller="TransactionCtrl">
    <br><h2>Bitcoin demo transaction</h2><br>
    
    <div class="row rounded-border separated-row">
      
      <div class="large-6 columns text-center right-border" id="demo-shopping-cart">
        <br>
        <div class="hidden" id="demo-shopping-cart-info">
          <p>Imagine this section below is the website of an <strong>on-line shop</strong> where you are about to pay your purchase</p>
        </div>
        <div class="info-block hidden" id="demo-shopping-cart-content">
          <fieldset>
            <legend>Shopping cart in your favorite web shop</legend>
            <div>
              <div class="row separated-row shop-table-title">
                <div class="small-4 columns text-center">
                  Item
                </div>
                <div class="small-2 columns text-center">
                  Units
                </div>
                <div class="small-3 columns text-center">
                  Price
                </div>
                <div class="small-3 columns"></div>
              </div>
              <div class="row separated-row shop-table-text">
                <div class="small-4 columns text-center">
                  <br>Soft and warm teddy bear
                </div>
                <div class="small-2 columns text-center">
                  <br>x1
                </div>
                <div class="small-3 columns text-center">
                  <br><strong class="title">0.1 bitcoins</strong> (or $10)
                </div>
                <div class="small-3 columns">
                  <%= image_tag "teddy_bear.png", alt: "Teddy bear image" %>
                </div>
              </div>
            </div>
            <div id="demo-transaction-details">
              <div class="row separated-row">
                <div class="small-6 columns text-right">
                  <%= image_tag "BC_accepted_here.png", width: '75%', alt: "Bitcoin accepted here logo" %>
                </div>
                <div class="small-6 columns text-left">
                  <br>Pay to this address
                </div>
              </div>
              <div class="row separated-row">
                <div class="small-12 columns">
                  <%= image_tag "QR-shop.png", width: '50%', alt: "Shop QR of address" %>
                </div>
              </div>
              <div class="row separated-row collapse">
                <div class="small-2 columns">
                  <span class="prefix radius button alert address-info-block-shop highlighted-box has-tooltip" ng-click="copyAddress()"
                        id="copy-demo-button" title="copy the shop payment address to your wallet"><i class="fi-page-copy"></i> Copy </span>
                </div>
                <div class="small-10 columns">
                  <span id="demo-pay-to-address" class="postfix radius button disabled">1JL27iKbmVBNBnwuST7aqyuE94ShS4CFE1</span>
                </div>
              </div>
              <span class="hidden" id="open_private_key">5KVwAmmjHaxZ8hDGBybaoCwhdicK26gFFsDYm8RZYSfmdJrsB8i</span>
            </div>
          </fieldset>
        </div>
      </div>
      
      <div class="large-6 columns text-center" id="demo-wallet-send">
        <br>
        <div class="hidden" id="demo-wallet-send-info">
          <p>
            This section below looks like the <strong>Bitcoin wallet</strong> software you can use to manage your bitcoins<br><br>
            To practice, <strong>fill</strong> the form and press <strong>Send</strong>
          </p>
        </div>
        <div class="info-block hidden" id="demo-wallet-send-content">
          <form id="demo-transaction-form" data-parsley-validate> 
            <fieldset>
            <legend>Your demo wallet</legend>
            <div class="row separated-row"> 
              <div class="small-12 columns">
                <span>Send bitcoins from this address:</span>
                <div class="address-info-block">
                  <input type="radio" name="address" id="walletAddress"
                         value="19s6nzcRuWWuXSikLNGmYsTdKkF8cBkFdJ" checked><label class="no-cursor" for="walletAddress">19s6nzcRuWWuXSikLNGmYsTdKkF8cBkFdJ</label>
                </div>
              </div>
            </div>
            <div class="row separated-row">
              <div class="small-12 columns text-center">
                <label id="demo-remaining-bitcoins" class="inline no-cursor">{{remainingBitcoinsFormattedText()}}</label>
              </div>
            </div>
            <div class="row collapse separated-row"> 
              <div class="small-3 columns">
                <label for="amount" class="right inline small-right-padding ">amount: </label>
              </div>
              <div class="small-2 columns" id="amount">
                <input type="text" class="highlighted-box text-center has-tooltip" ng-click="disableAmountGlowing()" ng-model="input_amount" data-parsley-type="number" data-parsley-trigger="change" id="demo-input-amount" required
                       data-parsley-min="0.1" data-parsley-min-message="Value should be 0.1, same as the price" data-parsley-max="0.1" data-parsley-max-message="Value should be 0.1, same as the price"
                       title="1 bitcoin can be divided up to 8 decimal places<br>(0.00000001 bitcoins are currently valued at about 0.00001 USD)" placeholder="eg 0.1" />
              </div>
              <div class="small-4 columns">
                <span class="postfix radius"> bitcoins (BTC)</span>
              </div>
              <div class="small-3 columns"></div>
            </div>
            <div class="row collapse separated-row">
              <div class="small-2 columns">
                <span class="prefix radius button disabled">To:</span>
              </div>
              <div class="small-10 columns">
                <input id="demo-pay-to-address-input" type="text" ng-click="disableAddressGlowing()" placeholder="eg 1JL27iKbmVBNBnwuST7aqyu..." data-parsley-equal="1JL27iKbmVBNBnwuST7aqyuE94ShS4CFE1"
                       data-parsley-range="[30, 40]" data-parsley-type="alphanum" data-parsley-trigger="change" required class="highlighted-box has-tooltip"
                       title="enter here the Bitcoin address the shop provides for the payment (<strong>Hint</strong>: use the <i class='fi-page-copy'></i> Copy button)"/>
              </div>
            </div>
              <div class="row">
                <div class="small-12 columns">
                  <label id="demo-transaction-send-button" class="button radius round has-tooltip" ng-click="transactionDemo()"
                         title="send bitcoins to pay the demo bill">Send &nbsp;&nbsp;<%= image_tag "send-inverted.png", width: '40%', class: 'rounded-corners' %></label>
                </div>
              </div>
            </fieldset>
          </form>
        </div>  
      </div>
      
    </div>
    <br>
    <div>
      <button class="radius round hidden" id="show-blockchain-section" ng-click="showBlockchainSection()">
        How does this transaction work? &nbsp;&nbsp;<i class="fi-magnifying-glass"></i>
      </button>
    </div>
    <br>
  </div>
</div>

<div id="ok-purchase" class="hidden">
  <div class="row separated-row">
    <div class="small-12 columns">
      <p><strong class="title">Payment received correctly</strong></p>
    </div>
  </div>
  <%= image_tag "ok_purchase.png", width: '70%', alt: "Purchase OK image" %>
</div>

<div id="congratulations-demo-modal" class="reveal-modal text-center hidden" data-reveal ng-controller="TransactionCtrl"> 
  <h2>Congratulations!</h2><br>
  <h4>You have learned how to send bitcoins</h4><br>
  <p>And there are many more things you can do with Bitcoin. <a ng-click="discardDemoModal()">See below</a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="WIP-modal" class="reveal-modal text-center hidden" data-reveal> 
  <h2>In construction</h2>
  <h4>Apologies, this part of the website is not yet finished</h4>
  <p>Come back later and you should be able to get some bitcoins for free</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mining-info-modal" class="reveal-modal text-center hidden" data-reveal>
  <div id="mining-content">
    <h2>Bitcoin Mining</h2>
  </div>
  <div id="mining-lottery-link">
    <p>To understand how a miner gets a reward you can learn how the <a data-reveal-id="mining-POW-modal" class="fix-link-background">lottery reward works with Proof of Work</a></p>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mining-POW-modal" class="reveal-modal text-center hidden" data-reveal> 
  <div id="mining-POW-content">
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="breakpoints"> 
  <div class="breakpoint-small show-for-small-only" data-size="small"></div>
  <div class="breakpoint-medium show-for-medium-only" data-size="medium"></div>
  <div class="breakpoint-large show-for-large-up" data-size="large"></div>
</div>