<% content_for :title do %>Learn To Use Bitcoin<% end %>
<div class="navigation-menu hidden" id="widthHeightOpacity" align="left">
  <%= image_tag "index-icon.png", id: "navigation-menu-icon", alt: "Menu" %>
  <div class="navigation-content hidden" >
    <ul class="navigation-content-list">
      <li>
        <a class="navigation-link" href="#welcome"><i class="fi-home icon-white"></i> Welcome</a>
      </li>
      <li>
        <a class="navigation-link" href="#what"><i class="fi-info icon-white"></i> What is Bitcoin?</a>
      </li>
      <li>
        <a class="navigation-link" href="#start"><i class="fi-play icon-white"></i> Start using Bitcoin</a>
      </li>
      <li>
        <a class="navigation-link" href="#use"><i class="fi-shopping-cart icon-white"></i> Use my Bitcoins</a>
      </li>
      <li>
        <a class="navigation-link" href="#myths"><i class="fi-shield icon-white"></i> Myths about Bitcoin</a>
      </li>
    </ul>
  </div>
</div>

<%= render 'welcome', layout: false %>

<%= render 'what', layout: false %>

<%= render 'start', layout: false %>

<%= render 'use', layout: false %>

<%= render 'myths', layout: false %>

<div class="text-center info-block" id="contact-info">
  <p>Made with <i class="fi-heart"></i> by Sebas<br>
  love@learntousebitcoin.com<p>
</div>

<div id="breakpoints"> 
  <div class="breakpoint-small show-for-small-only" data-size="small"></div>
  <div class="breakpoint-medium show-for-medium-only" data-size="medium"></div>
  <div class="breakpoint-large show-for-large-up" data-size="large"></div>
</div>