<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @wallet.address %>
</p>

<p>
  <strong>Private key:</strong>
  <%= @wallet.private_key %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
