<!DOCTYPE html>
<html ng-app="ltubApp">
  <head>
    <%= favicon_link_tag 'bitcoin.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Learn To Use Bitcoin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn To Use Bitcoin" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic', "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    </header>
    <main role="main" align="center">
      <div align="center">
       <%= render 'layouts/messages' %>
       <%= yield %>
      </div>
    </main>
  </body>
</html>
